<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>添加信息页面</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">
<br/>
<h1>添加用户</h1>
<br/><br/>
<div class="with:80%">
    <form class="form-horizontal"   th:action="@{/add3}" method="post">

        <!-- 登记日期 install_date-->
        <div class="form-group">
            <label for="install_date" class="col-sm-2 control-label">登记日期</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="install_date"  id="install_date" placeholder="例如: 2021-03-15"/>
            </div>
        </div>

        <!-- 用户名 user_name-->
        <div class="form-group">
            <label for="user_name" class="col-sm-2 control-label" >用户名</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="user_name" id="user_name" placeholder="例如: 张三"/>
            </div>
        </div>

        <!-- 电脑型号 computer_model-->
        <div class="form-group">
            <label for="computer_model" class="col-sm-2 control-label">电脑型号</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="computer_model"  id="computer_model" placeholder="例如: 惠普笔记本i5-11代"/>
            </div>
        </div>

        <!-- SN#码 sn_code-->
        <div class="form-group">
            <label for="sn_code" class="col-sm-2 control-label">SN#码</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="sn_code"  id="sn_code" placeholder="例如：需要查看实际电脑信息"/>
            </div>
        </div>

        <!-- 安装人员 installers-->
        <div class="form-group">
            <label for="installers" class="col-sm-2 control-label">安装人员</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="installers"  id="installers" placeholder="例如: 秦守贵"/>
            </div>
        </div>

        <!-- 打印机权限是否开通 printer_power-->
        <div class="form-group">
            <label for="printer_power"   class="col-sm-2 control-label">打印机权限是否开通</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="printer_power"  id="printer_power" placeholder="例如: 是 | 否"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="提交" class="btn btn-info" />
                &nbsp; &nbsp; &nbsp;
                <input type="reset" value="重置" class="btn btn-info" />
            </div>

        </div>
    </form>
</div>
</body>
</html>
