<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>添加信息页面</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">
<br/>
<h1>添加信息</h1>
<br/><br/>
<div class="with:80%">
    <form class="form-horizontal"   th:action="@{/add4}" method="post">

        <!-- 登记日期 repair_date-->
        <div class="form-group">
            <label for="repair_date" class="col-sm-2 control-label">登记日期</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="repair_date"  id="repair_date" placeholder="例如: 2021-03-15"/>
            </div>
        </div>

        <!-- 打印机编号 printer_number-->
        <div class="form-group">
            <label for="printer_number" class="col-sm-2 control-label" >打印机编号</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="printer_number" id="printer_number" placeholder="例如: 需要查看实际电脑信息"/>
            </div>
        </div>

        <!-- 打印机型号 printer_model-->
        <div class="form-group">
            <label for="printer_model" class="col-sm-2 control-label">打印机型号</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="printer_model"  id="printer_model" placeholder="例如: 惠普打印机"/>
            </div>
        </div>

        <!-- 异常现象 problem-->
        <div class="form-group">
            <label for="problem" class="col-sm-2 control-label">异常现象</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="problem"  id="problem" placeholder="例如：打印机打印不清晰，颜色暗淡"/>
            </div>
        </div>

        <!-- 更换配件 change_parts-->
        <div class="form-group">
            <label for="change_parts" class="col-sm-2 control-label">更换配件</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="change_parts"  id="change_parts" placeholder="例如: 墨盒 "/>
            </div>
        </div>

        <!-- 维修人员 repair_user-->
        <div class="form-group">
            <label for="repair_user"   class="col-sm-2 control-label">维修人员</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="repair_user"  id="repair_user" placeholder="例如: 秦守贵 "/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="提交" class="btn btn-info" />
                &nbsp; &nbsp; &nbsp;
                <input type="reset" value="重置" class="btn btn-info" />
            </div>

        </div>
    </form>
</div>
</body>
</html>
