<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>次级主页--管理员用户界面</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/normalize3.min.css}" ></link>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style3.css}" ></link>
</head>

<body>
<div style="text-align:center;clear:both;">
</div>

  &nbsp;&nbsp;<h3 th:text="${msg}"></h3>




  <ul class="honeycomb" lang="zh-CN">
  
    <li class="honeycomb-cell">
      <a href="/list3" target="_blank">
        <img class="honeycomb-cell__image" src="./img/北京.jpg">
        <div class="honeycomb-cell__title">新人电脑安装登记</div>
      </a>
    </li>
  
    <li class="honeycomb-cell">
      <a href="/list4" target="_blank">
        <img class="honeycomb-cell__image" src="./img/成都.jpg">
        <div class="honeycomb-cell__title">打印机维修-更换部件登记</div>
      </a>
    </li>
  

  <li class="honeycomb-cell">
    <a href="/list5" target="_blank">
      <img class="honeycomb-cell__image" src="./img/广州.jpg">
      <div class="honeycomb-cell__title">打印机报废登记</div>
    </a>
  </li>

  <li class="honeycomb-cell">
    <a href="/list6" target="_blank">
      <img class="honeycomb-cell__image" src="./img/杭州.jpg">
      <div class="honeycomb-cell__title">打印机第一次领取</div>
    </a>
  </li>

  <li class="honeycomb-cell">
    <a href="/list7" target="_blank">
      <img class="honeycomb-cell__image" src="./img/上海.jpg">
      <div class="honeycomb-cell__title">电话制作登记</div>
    </a>
  </li>

<!--  <li class="honeycomb-cell">-->
<!--    <a href="#" target="_self">-->
<!--      <img class="honeycomb-cell__image" src="./img/深圳.jpg">-->
<!--      <div class="honeycomb-cell__title">IT 资产管理系统<small>内网访问 <br>http://10.170.3.141/</small></div>-->
<!--    </a>-->
<!--  </li>-->

    <li class="honeycomb-cell">
      <a href="#" target="_self">
        <img class="honeycomb-cell__image" src="./img/深圳.jpg">
        <div class="honeycomb-cell__title">程序员小哥正在加班加点开发中~</div>
      </a>
    </li>

    <li class="honeycomb-cell">
      <a href="#" target="_self">
        <img class="honeycomb-cell__image" src="./img/苏州.jpg">
        <div class="honeycomb-cell__title">新的功能已在路上，敬请期待~</div>
      </a>
    </li>

<!--  <li class="honeycomb-cell">-->
<!--    <a href="#" target="_self">-->
<!--      <img class="honeycomb-cell__image" src="./img/苏州.jpg">-->
<!--      <div class="honeycomb-cell__title">运维 SOP知识库<small>内网访问 <br>http://10.170.3.140/</small></div>-->
<!--    </a>-->
<!--  </li>-->


  <li class="honeycomb-cell honeycomb__placeholder"></li>
</ul>
  
</body>
</html>


